body{
	width: 700px;
	margin:10px;
	padding: 6px;
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
    padding: 15px;
   -webkit-box-shadow: 0px 0px 6px 2px rgba(138,138,138,1);
   -moz-box-shadow: 0px 0px 6px 2px rgba(138,138,138,1);
    box-shadow: 0px 0px 6px 2px rgba(138,138,138,1);
    border-radius: 10px;
    background: #f9f9f9;
}
table{
	margin: 10px auto;
	width: 700px;
}
td {
	border-bottom: solid 1px lightgrey;
	vertical-align: middle;
}
.long {
	border-bottom: solid 1px lightgrey;
	width: 180px;
	padding:10px 0; 
}
.short {
	border-bottom: solid 1px lightgrey;
	width: 70px;
	padding:10px 0; 
}
.thead th:last-of-type {
	border-bottom: solid 1px lightgrey;
	width: 90px;
	padding:10px 0; 
}
table td:first-of-type {
	color:red;
} 
.short {
	width: 70px;
	padding: 10px 0;
}
.long {
	width:180px;
	padding: 10px 0;
}
tr:last-of-type {
	border-bottom: transparent;
	width: 60px;
	padding:10px 0; 
}
.big {
	border:none;
	outline: none;
	padding: 7px;
	margin :0;
	background: #dc4e45;
	color:#fff;
	font-size: 15px;
	text-align: center;
	vertical-align:top;
}
.small {
	padding: 5px;
	width: 30px;
	border:none;
	outline: none;
	background: #e7242a;
	color:#fff;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}
p {
	font-size: 17px;
	line-height: 1.2;
	text-align: right;
	padding:0 10px;
}
p span:first-of-type{
	font-weight: bold;
}
p span:last-of-type{
	color:#999;
}
.GoTo_Basket {
	display: block;
	margin: 25px auto;
	border:none;
	outline: none;
	background: #f9f9f9;
	color:#e7242a;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}
p { 
	border-right: 5px solid #eeeeee;
}
.close {
	position:relative;
	right: -700px;
    bottom: 415px;
	background: #000;
	color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
	border:2px solid #fff;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(168,168,168,1);
    box-shadow: 0px 0px 5px 3px rgba(168,168,168,1);}
   }
td{
	border-bottom: 1px solid grey;
}
